@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "mission04_jrencher";
}




<!-- Header with my name -->
<h1>Josh Rencher</h1>

<!-- Photo of me doing something I like, including a description -->
<div>
    <h3>Things I like To Do: Visiting the Hosptial</h3>
    <p>Just kidding, it wasn't something I liked at all, just the most eventful thing that happened this semester.</p>
    <img src="img/Josh in the Hospital.jpg" alt="Josh at the Hosptial" width="500" height="700" />
</div>

<!-- Paragraph about My Goals -->
<div>
    <h3>What I Want to Achieve in IS 413</h3>
    <p>As a student in the IS 413 class, I am eager to master ASP.NET so that I can utilize it in a professional setting and build my own website projects. I recognize the importance of having a strong understanding of this technology, as it is widely used in the industry for web application development. By gaining a deep understanding of ASP.NET, I will be able to create dynamic and interactive web pages that are efficient, scalable, and secure. I am excited to learn about the different features and tools available in ASP.NET and apply them to real-world scenarios. Ultimately, I hope to become proficient in this technology and leverage it to further my career goals in the field of information systems.</p>
</div>

<!-- Job's I'm Pursuing -->
<div>
    <h3>Jobs I'm Interested In Pursuing After College</h3>
    <ul>
        <li>Project Manager - Microsoft</li>
        <li>Project Manager - Apple</li>
        <li>Cyber Security Specialist - Crumble Cookies</li>
    </ul>
</div>